        <!-- Footer -->
        <div class="footernavbar">
            <span class="w3-hide-small">Designed & Built by Leon Darko</span>
            <!-- <a class="w3-hide-medium w3-hide-large arrow-up" href="#about"><i class="fas fa-arrow-up w3-hover-indigo"></i></a> -->
            <a class="w3-hover-text-brown footericon zoom" href="https://www.instagram.com/platinumm_lee/"><i
                    class="fab fa-instagram"></i></a>
            <a class="w3-hover-text-blue footericon zoom" href="https://twitter.com/platinumm_lee"><i
                    class="fab fa-twitter"></i></a>
            <a class="w3-hover-text-indigo footericon zoom" href="https://www.linkedin.com/in/leon-darko-914401188/"><i
                    class="fab fa-linkedin"></i></a>
            <a class="w3-hover-text-red footericon zoom" href="https://github.com/thah-leon"><i
                    class="fab fa-github"></i></a>
        </div><!-- Footer -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>