<%- include("partials/header"); -%>
    <!-- Banner section -->
    <div style="background: url(images/coding.jpg) no-repeat center; background-size: cover;">
        <!-- Transparent White overlay -->
        <div class="white-overlay main-container">

            <div class="w3-row">
                <div class="w3-col l6 m5 w3-center zoom">
                    <img src="/images/leon.jpg" class="image-leon w3-round w3-card" alt="Image of Leon">
                </div>
                <div class="w3-col l6 m7 w3-padding-16">

                    <div class="about">
                        <h1 class="greeting">Hi! I'm Leon</h1>
                        <h6 class="w3-text-grey" id="typewrite"></h6>
                        <p>I basically create high quality things for the web.</p>
                    </div>

                    <div class="technologies-container">

                        <div class="technologies-heading">
                            <h6 class="w3-text-grey">Technologies I've used recently.</h6>
                        </div>

                        <div class="w3-row w3-padding-8">
                            <div class="w3-col l3 m6 s6 ">
                                <i class="fab fa-js-square w3-large"></i>
                                <span>JS ES6</span>
                            </div>
                            <div class="w3-col l3 m6 s6">
                                <i class="fab fa-js-square w3-large"></i>
                                <span>jQuery</span>
                            </div>
                            <div class="w3-col l3 m6 s6">
                                <i class="fab fa-js-square w3-large"></i>
                                <span>EJS</span>
                            </div>
                            <div class="w3-col l3 m6 s6">
                                <i class="fas fa-terminal w3-large"></i>
                                <span>Node.js</span>
                            </div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-col l3 m6 s6">
                                <i class="fas fa-server w3-large"></i>
                                <span>Express.js</span>
                            </div>
                            <div class="w3-col l3 m6 s6">
                                <i class="fas fa-database w3-large"></i>
                                <span>MongoDB</span>
                            </div>
                            <div class="w3-col l3 m6 s6">
                                <i class="fas fa-database w3-large"></i>
                                <span>Mongoose</span>
                            </div>
                            <div class="w3-col l3 m6 s6">
                                <i class="fab fa-github w3-large"></i>
                                <span>Git • Github</span>
                            </div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-col l3 m6 s6">
                                <i class="fab fa-google w3-large"></i>
                                <span>Firebase</span>
                            </div>
                            <div class="w3-col l3 m6 s6">
                                <i class="fas fa-code w3-large"></i>
                                <span>Flutter</span>
                            </div>
                            <div class="w3-col l3 m6 s6">
                                <i class="fab fa-html5 w3-large"></i>
                                <span>HTML5</span>
                            </div>
                            <div class="w3-col l3 m6 s6">
                                <i class="fab fa-css3-alt w3-large"></i>
                                <span>CSS3</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Arrow Down -->
            <div class="w3-center typeWriter">
                <a href="#resume">
                    <i
                        class="fas fa-angle-double-down w3-large w3-hover-text-indigo zoom arrow-btn animate-bottom-arrow-down"></i>
                </a>
            </div><!-- Arrow Down -->

        </div><!-- Transparent White overlay -->
    </div><!-- Banner section -->

    <div id="resume"></div>

    <!-- Sticky Navigation -->
    <div class="w3-center w3-hide-small">
        <div id="navbar">
            <a href="#about" class="w3-wide">About <i class="far fa-bookmark w3-text-black w3-tiny"></i></a>
            <a href="#resume" class="w3-wide">Resume <i class="fas fa-business-time w3-text-black w3-tiny"></i></a>
            <a href="#contact" class="w3-wide">Contact <i class="fas fa-envelope w3-text-black w3-tiny"></i></a>
            <a href="downloads/Resume.pdf" download>
                <button class="w3-button w3-wide zoom
        w3-indigo w3-hover-light-blue w3-small">
                    Resume <i class="far fa-file-pdf"></i>
                </button>
            </a>
        </div>
    </div><!-- Sticky Navigation -->




    <!-- Projects -->
    <div class="project-content">
        <div class="w3-center">
            <i class="fas fa-folder-open w3-text-black w3-xxlarge"></i>
            <h1 class="w3-text-indigo heading-bold">Projects</h1>
            <h6 class="w3-text-grey">Some Things I've Created.</h6>
        </div>
        <div class="w3-row">
            <div class="w3-col l3 m6">
                <a class="project-link" href="https://tastifriesgh.web.app/">
                    <div class="project-card w3-card w3-round-large w3-hover-light-grey zoom">
                        <span>Tastifriesgh</span>
                        <h3 class="w3-margin-0 w3-text-black">Fries & Good vibes</h3>
                        <p>A blog website for Tastifriesgh.</p>

                        <i class="far fa-eye w3-text-black w3-hover-text-indigo"></i>
                        <span class="w3-hover-text-indigo">Vist Site</span>
                        <i class="fas fa-external-link-alt w3-text-indigo w3-right"></i>
                    </div>
                </a>
            </div>
            <div class="w3-col l3 m6">
                <a class="project-link" href="https://hepmal.web.app/">
                    <div class="project-card w3-card w3-round-large w3-hover-light-grey zoom">
                        <span>Noguchi Memorial Institute for Medical Research (NMIMR)</span>
                        <h3 class="w3-margin-0 w3-text-black">HEPMAL</h3>
                        <p>A website for Clinical and immunopathological consequences of chronic HBV and Plasmodium
                            falciparum
                            co-infections (HEPMAL) project.</p>

                        <i class="far fa-eye w3-text-black w3-hover-text-indigo"></i>
                        <span class="w3-hover-text-indigo">Vist Site</span>
                        <i class="fas fa-external-link-alt w3-text-indigo w3-right"></i>
                    </div>
                </a>
            </div>

            <div class="w3-col l3 m6">
                <a class="project-link" href="https://jamboinfopages.web.app">
                    <div class="project-card w3-card w3-round-large zoom">
                        <span>JAMBO</span>
                        <h3 class="w3-margin-0 w3-text-black">Jambo Info Pages</h3>
                        <p>An informational website for mobile applications created by JAMBO.</p>

                        <i class="far fa-eye w3-text-black w3-hover-text-indigo"></i>
                        <span class="w3-hover-text-indigo">Vist Site</span>
                        <i class="fas fa-external-link-alt w3-text-indigo w3-right"></i>
                    </div>
                </a>
            </div>

            <div class="w3-col l3 m6">
                <a class="project-link" href="https://cafarchitectureincorporated.web.app/">
                    <div class="project-card w3-card w3-round-large w3-hover-light-grey zoom">
                        <span>CAF Architecture</span>
                        <h3 class="w3-margin-0 w3-text-black">A Design & Build Company</h3>
                        <p>A website for a design and build company.</p>

                        <i class="far fa-eye w3-text-black w3-hover-text-indigo"></i>
                        <span class="w3-hover-text-indigo">Vist Site</span>
                        <i class="fas fa-external-link-alt w3-text-indigo w3-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Projects -->


    <!-- Resume -->
    <div class="content">
        <div class="w3-center w3-padding-24">
            <i class="fas fa-user-tie w3-text-black w3-xxlarge"></i>
            <h1 class="w3-text-indigo heading-bold">Work & Experience</h1>
            <h6 class="w3-text-grey">Where I Have Worked and My Experience</h6>
        </div>


        <div class="w3-row-padding experience-section">
            <div class="w3-col s12 m6 l3 w3-padding-medium zoom">
                <i class="fas fa-wallet w3-text-black w3-large w3-padding-bottom"></i>
                <h6 class="w3-margin-0"> November 2020 - Present</h6>
                <p class="w3-margin-0 w3-text-indigo sub-heading">Selling My Services at Fiverr.com & Linkedin</p>
                <h3 class="sub-title">Web Development</h3>
                <p class="w3-text-black">
                    Build a fully custom and professional website.
                </p>
                <h3 class="w3-text-black">fiverr<span class="w3-text-green">.</span></h3>
                <i class="fas fa-glasses w3-small w3-text-green"></i>
                <a class="fiverrlink w3-hover-text-green" href="https://www.fiverr.com/share/YoNZ3p">
                    learn more <i class="fas fa-long-arrow-alt-right w3-text-green"></i>
                </a>
                <hr class="w3-padding-16 w3-hide-large w3-hide-medium">
            </div>

            <div class="w3-col s12 m6 l3 w3-padding-medium zoom">
                <i class="fas fa-code w3-text-black w3-large w3-padding-bottom"></i>
                <h6 class="w3-margin-0">June 2020 – Present</h6>
                <p class="w3-margin-0 w3-text-indigo sub-heading">Flutter Apps Portfolio</p>
                <h3 class="sub-title">Mobile App Development</h3>
                <p class="w3-margin-0 w3-text-black">
                    Built over 10 flutter apps while learning on the course.
                </p>
                <hr class="w3-padding-16 w3-hide-large w3-hide-medium">
            </div>

            <div class="w3-col s12 m12 l3 w3-padding-medium zoom">
                <i class="fas fa-business-time w3-text-black w3-large w3-padding-bottom"></i>
                <h6 class="w3-margin-0">August 2019 – September 2019</h6>
                <p class="w3-margin-0 w3-text-indigo sub-heading">Datacenter - Stanbic Bank</p>
                <h3 class="sub-title">Industrial Attachment</h3>
                <p class="w3-margin-0 w3-text-black">
                    Worked as a team to deploy a windows 10 system upgrade on workstations across branches nationwide.
                </p>
                <hr class="w3-padding-16 w3-hide-large w3-hide-medium">
            </div>
            <div class="w3-col s12 m12 l3 w3-padding-medium zoom">
                <i class="fas fa-business-time w3-text-black w3-large w3-padding-bottom"></i>
                <h6 class="w3-margin-0">September 2018 – July 2019</h6>
                <p class="w3-margin-0 w3-text-indigo sub-heading">Datacenter - Stanbic Bank</p>
                <h3 class="sub-title">National Service</h3>
                <p class="w3-margin-0 w3-text-black">
                    National Service at Stanbic Bank Ghana.
                    Built Client computers and ensured that they met industry and banks security standards.
                </p>
                <hr class="w3-padding-16 w3-hide-large w3-hide-medium">
            </div>
        </div>
    </div>


    <!-- Divider -->
    <div class="divdercontainer">
        <div class="divderinner"></div>
    </div><!-- Divider -->

    <div class="parallax" style="background: url(/images/education.jpg) no-repeat center; background-size: cover;">
    </div>

    <div class="content">

        <div class="w3-center w3-padding-24">
            <i class="fas fa-user-graduate w3-text-black w3-xxlarge"></i>
            <h1 class="w3-text-indigo heading-bold">Education</h1>
            <h6 class="w3-text-grey">Educational Background & History</h6>
        </div>

        <div class="w3-row education-section">
            <div class="w3-col s12 m6 l3 w3-padding-medium zoom">
                <i class="fas fa-laptop-code w3-text-black w3-large w3-padding-bottom"></i>
                <h6 class="w3-margin-0 sub-title">July 2020 - Present</h6>
                <p class="w3-margin-0 w3-text-indigo sub-heading">Web Course • Udemy</p>
                <p class="w3-text-grey w3-padding-0">Instructor • Dr Angela Yu</p>
                <h3 class="sub-title">Web Development</h3>
                <p class="w3-margin-0 w3-text-black">
                    Becoming a full-stack web developer with this course. HTML, CSS, JavaScript, Node, React, MongoDB
                    and more.
                </p>
                <hr class="w3-padding-16 w3-hide-large w3-hide-medium">
            </div>
            <div class="w3-col s12 m6 l3 w3-padding-medium zoom">
                <i class="fas fa-laptop-code w3-text-black w3-large w3-padding-bottom"></i>
                <h6 class="w3-margin-0 sub-title">June 2020 - Present</h6>
                <p class="w3-margin-0 w3-text-indigo sub-heading">Flutter with Dart • Udemy</p>
                <p class="w3-text-grey w3-padding-0">Instructor • Dr Angela Yu</p>
                <h3 class="sub-title">Flutter Development</h3>
                <p class="w3-margin-0 w3-text-black">
                    Flutter is Google’s UI toolkit for building beautiful, natively compiled applications for mobile,
                    web, and
                    desktop from a single codebase.
                </p>
                <hr class="w3-padding-16 w3-hide-large w3-hide-medium">
            </div>
            <div class="w3-col s12 m12 l3 w3-padding-medium zoom">
                <i class="fas fa-graduation-cap w3-text-black w3-large w3-padding-bottom"></i>
                <h6 class="w3-margin-0 sub-title">2014 - 2018</h6>
                <p class="w3-margin-0 w3-text-indigo sub-heading">Methodist University College Ghana </p>
                <h3 class="sub-title">BSc Information Technology</h3>
                <p class="w3-margin-0 w3-text-black">
                    University Education.
                </p>
                <hr class="w3-padding-16 w3-hide-large w3-hide-medium">
            </div>
            <div class="w3-col s12 m12 l3 w3-padding-medium zoom">
                <i class="fas fa-graduation-cap w3-text-black w3-large w3-padding-bottom "></i>
                <h6 class="w3-margin-0 sub-title">2009 - 2013</h6>
                <p class="w3-margin-0 w3-text-indigo sub-heading">Koforidua Secondary <br> Technical School</p>
                <h3 class="sub-title">West African Senior Certificate</h3>
                <p class="w3-margin-0  w3-text-black">
                    High School Education.
                </p>
            </div>
        </div>
    </div>

    <!-- Resume -->

    <!-- Divider -->
    <div class="divdercontainer">
        <div class="divderinner"></div>
    </div><!-- Divider -->

    <div class="parallax" style="background: url(/images/language.jpg) no-repeat center; background-size: cover;">
    </div>

    <div class="content w3-padding-128">
        <div class="w3-center w3-padding-24">
            <i class="fas fa-globe w3-text-indigo w3-xxlarge"></i>
            <h1 class="w3-text-black heading-bold">Language Skills</h1>
        </div>
        <div class="w3-row">
            <div class="w3-col l6 m4 w3-padding-medium w3-center zoom">
                <i class="fas fa-language w3-text-indigo w3-xxlarge"></i>
                <h3 class="w3-margin-0 sub-title">English</h3>
                <i class="fas fa-star w3-text-red w3-small"></i>
                <i class="fas fa-star w3-text-amber w3-small"></i>
                <i class="fas fa-star w3-text-black w3-tiny"></i>
                <i class="fas fa-star w3-text-amber w3-small"></i>
                <i class="fas fa-star w3-text-green w3-small"></i>
                <h6 class="w3-margin-0 sub-heading w3-text-indigo">Fluent</h6>
            </div>

            <div class="w3-col l6 m4 w3-padding-medium w3-center zoom">
                <i class="fas fa-language w3-text-indigo w3-xxlarge"></i>
                <h3 class="w3-margin-0 sub-title">Spanish</h3>
                <i class="fas fa-star w3-text-red w3-small"></i>
                <i class="fas fa-star w3-text-amber w3-small"></i>
                <i class="fas fa-star w3-text-amber w3-small"></i>
                <i class="fas fa-star w3-text-red w3-small"></i>
                <h6 class="w3-margin-0 sub-heading w3-text-indigo">Conversational</h6>
            </div>

        </div>
    </div>

    <!-- Divider -->
    <div class="divdercontainer">
        <div class="divderinner"></div>
    </div><!-- Divider -->

    <div class="parallax" style="background: url(/images/contact.jpg) no-repeat center; background-size: cover;">
    </div>


    <!-- Reach out -->
    <div id="contact" class="content">
        <div class="w3-center w3-padding-24">
            <i class="fas fa-paper-plane w3-text-indigo w3-xxlarge"></i>
            <h1 class="w3-text-black heading-bold">Get in touch</h1>
        </div>

        <div class="w3-padding-medium w3-center ">
            <p class="w3-text-grey">
                I just might work on your project or we might collaborate and work on a project together.
                Feel free to say hello. I will definitely try to get back to you.
            </p>
            <br>
            <div class="w3-center">
                <a href="mailto:work.leondarko@gmail.com">
                    <button class="w3-button w3-light-blue w3-wide zoom w3-hover-indigo w3-large">
                        Hire me
                    </button>
                </a>
            </div>
            <hr>
            <div class="w3-center">
                <h3 class="w3-text-black">fiverr<span class="w3-text-green">.</span></h3>
                <p class="w3-text-grey">Explore my gig at fiverr</p>
                <i class="fas fa-glasses w3-small w3-text-green"></i>
                <a class="fiverrlink w3-hover-text-green" href="https://www.fiverr.com/share/YoNZ3p">
                    learn more <i class="fas fa-long-arrow-alt-right w3-text-green"></i>
                </a>
            </div>
            <br><br>
        </div>
    </div><!-- Reach out -->


    <script>
        // Sticky Nav Script
        window.onscroll = function () {
            stickyNavFunction();
        };
        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function stickyNavFunction() {
            if (document.body.scrollTop > 700) {
                navbar.classList.add("sticky");
            } else {
                navbar.classList.remove("sticky");
            }
        }

    </script>

    <%- include("partials/footer"); -%>