.animate-top-topnav{position:relative;-webkit-animation:animatetop 0.9s;animation:animatetop 0.9s}
@-webkit-keyframes animatetop{from{top:-200px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-200px;opacity:0} to{top:0;opacity:1}}

.animate-bottom-footer{position:relative;-webkit-animation:animatebottom 1s;animation:animatebottom 1s}
@-webkit-keyframes animatebottom{from{bottom:-200px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-200px;opacity:0} to{bottom:0;opacity:1}}

.animate-bottom-arrow-down{position:relative;-webkit-animation:animatebottom 1s;animation:animatebottom 1s}
@-webkit-keyframes animatebottom{from{bottom:-200px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-200px;opacity:0} to{bottom:0;opacity:1}}

.animate-left-greeting-card{position:relative;-webkit-animation:animateleft 2s;animation:animateleft 2s}
@-webkit-keyframes animateleft{from{left:0px;opacity:0} to{left:20;opacity:1}}
@keyframes animateleft{from{left:0px;opacity:0} to{left:20;opacity:1}}

.animate-opacity-name{-webkit-animation:opac 5s;animation:opac 5s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}

.animate-opacity-about{-webkit-animation:opac 5s;animation:opac 5s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}

.animate-opacity-download-btn{-webkit-animation:opac 6s;animation:opac 6s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}

.animate-opacity-hire-btn{-webkit-animation:opac 6s;animation:opac 6s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
